<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.fotoapparat.facedetector">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <application>
    </application>

</manifest>
